@for (p of products; track $index) {
<div class="flex flex-col bg-white rounded-lg shadow-lg p-5 relative">
  <img
    [src]="
      'https://img.freepik.com/vector-gratis/dibujado-mano-diseno-plano-poke-bowl-comida-ilustracion_23-2149310125.jpg'
    "
    alt="{{ p.name }}"
    class="object-fill w-full h-40 mb-4"
  />

  <h3 class="text-lg font-semibold mb-2 text-gray-800">{{ p.name }}</h3>

  <div class="flex justify-between items-center">
    <span class="text-xl font-bold text-orange-600"> ${{ p.price }} </span>
    <!-- Botón "+" solo aparece en modo "user" -->
    <button
      (click)="toggleProduct(p)"
      class="w-8 h-8 font-semibold text-white bg-orange-500 rounded-full hover:bg-orange-600 flex items-center justify-center"
    >
      +
    </button>
  </div>
</div>
}

<!-- Modal de producto -->
<app-product-order-modal
  *ngIf="showModal"
  [productSelected]="productSelected"
  (save)="handleSave($event)"
  (cancel)="handleCancel()"
></app-product-order-modal>
