<div>
  <!-- Carrito -->
  <div class="text-center">
    <a
      id="carefull"
      class="relative"
      data-drawer-show="drawer-right-example"
      data-drawer-target="drawer-right-example"
      data-drawer-placement="right"
      aria-controls="drawer-right-example"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 17h-11v-14h-2" />
        <path d="M6 5l14 1l-1 7h-13" />
      </svg>

      <span
        *ngIf="carritoService.cantidad() > 0"
        class="absolute bg-green-600 size-6 rounded-full flex items-center justify-center -right-2"
      >
        {{ carritoService.cantidad() }}
      </span>
    </a>
  </div>

  <!-- Componente slide -->
  <div
    id="drawer-right-example"
    class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-1/3 dark:bg-gray-800"
    tabindex="-1"
    aria-labelledby="drawer-right-label"
  >
    <!-- Boton de Cerrar-->
    <button
      type="button"
      data-drawer-hide="drawer-right-example"
      aria-controls="drawer-right-example"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
    >
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
      <span class="sr-only">Cerrar menu</span>
    </button>

    <!-- Elemento de la derecha -->
    <div class="d-flex align-items-center">
      <div
        class="dropdown-menu dropdown-menu-end show"
        style="position: absolute; right: 13px; top: 60px; padding: 10px"
        aria-labelledby="navbarDropdownMenuAvatar"
      >
        <div class="row text-center">
          <div class="col-8">
            <h6>Carrito</h6>
          </div>
          <div class="col-4 text-end">
            <i class="fa fa-close p-2 text-danger"></i>
          </div>
        </div>

        <div *ngIf="mostrar">
          <table class="table table-sm">
            <tbody>
              @if (listCarrito.length == 0) {
              <tr>
                <td colspan="4">
                  <p>No hay productos.</p>
                </td>
              </tr>
              } @else {
              <tr>
                <td>
                  @for(item of listCarrito; track $index){
                  <div
                    class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6"
                  >
                    <div
                      class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0"
                    >
                      <a href="#" class="shrink-0 md:order-1">
                        <!--Aca tendria que estar en el src item.producto.image_url-->
                        <img
                          class="h-20 w-20 dark:hidden"
                          src="https://img.freepik.com/psd-premium/pila-patatas-fritas-crujientes_1234317-2146.jpg?w=740"
                          alt="imac image"
                        />
                      </a>

                      <label for="counter-input" class="sr-only"
                        >Choose quantity:</label
                      >
                      <div
                        class="flex items-center justify-between md:order-3 md:justify-end"
                      >
                        <div class="text-end md:order-4 md:w-32">
                          <p
                            class="text-base font-bold text-gray-900 dark:text-white"
                          >
                            CLP
                            {{ item.producto.price * 100 | number : "1.2-2" }}
                          </p>
                        </div>
                      </div>

                      <div
                        class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md"
                      >
                        <a
                          href="#"
                          class="text-base font-medium text-gray-900 hover:underline dark:text-white"
                          >{{ item.producto.name }}</a
                        >
                        <div class="flex items-center gap-4">
                          <button
                            (click)="eliminarItem($index)"
                            type="button"
                            class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500"
                          >
                            <svg
                              class="me-1.5 h-5 w-5"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              fill="none"
                              viewBox="0 0 24 24"
                            >
                              <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18 17.94 6M18 18 6.06 6"
                              />
                            </svg>
                            Remove
                          </button>
                          <!--Aumento y decremento-->
                          <!--Decrementar-->
                          <div class="flex items-center">
                            <button
                              (click)="decrementar(item, $index)"
                              type="button"
                              id="decrement-button"
                              data-input-counter-decrement="counter-input"
                              class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
                              title="anti"
                            >
                              <svg
                                class="h-2.5 w-2.5 text-gray-900 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 18 2"
                              >
                                <path
                                  stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M1 1h16"
                                />
                              </svg>
                            </button>

                            <input
                              type="text"
                              id="counter-input"
                              data-input-counter
                              class="w-10 shrink-0 border-0 bg-transparent text-center text-sm font-medium text-gray-900 focus:outline-none focus:ring-0 dark:text-white"
                              placeholder=""
                              value="1"
                              [(ngModel)]="item.cantidad"
                              (change)="actualizar(item, $index)"
                              required
                            />

                            <!--Incrementar-->
                            <button
                              (click)="incrementar(item, $index)"
                              type="button"
                              id="increment-button"
                              data-input-counter-increment="counter-input"
                              class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
                              title="anti"
                            >
                              <svg
                                class="h-2.5 w-2.5 text-gray-900 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 18 18"
                              >
                                <path
                                  stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M9 1v16M1 9h16"
                                />
                              </svg>
                            </button>
                          </div>
                          <!--Aumento y decremento-->
                        </div>
                      </div>
                    </div>
                  </div>
                  }
                </td>
              </tr>
              } @if (listCarrito.length !== 0) {
              <tr class="align-bottom">
                <td>
                  <!--Order BOX-->
                  <div
                    class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full"
                  >
                    <div
                      class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6"
                    >
                      <p
                        class="text-xl font-semibold text-gray-900 dark:text-white"
                      >
                        Pedido
                      </p>
                      <div class="space-y-4">
                        <div class="space-y-2">
                          <dl class="flex items-center justify-between gap-4">
                            <dt
                              class="text-base font-normal text-gray-500 dark:text-gray-400"
                            >
                              Precio original
                            </dt>
                            <dd
                              class="text-base font-medium text-gray-900 dark:text-white"
                            >
                              CLP
                              {{
                                carritoService.total() * 100 | number : "1.2-2"
                              }}
                            </dd>
                          </dl>

                          <dl class="flex items-center justify-between gap-4">
                            <dt
                              class="text-base font-normal text-gray-500 dark:text-gray-400"
                            >
                              Descuento
                            </dt>
                            <dd class="text-base font-medium text-green-600">
                              -$299.00
                            </dd>
                          </dl>
                        </div>

                        <dl
                          class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700"
                        >
                          <dt
                            class="text-base font-bold text-gray-900 dark:text-white"
                          >
                            Total
                          </dt>
                          <dd
                            class="text-base font-bold text-gray-900 dark:text-white"
                          >
                            CLP
                            {{
                              carritoService.total() * 100 | number : "1.2-2"
                            }}
                          </dd>
                        </dl>
                      </div>

                      <button
                        data-drawer-hide="drawer-right-example"
                        routerLink="/carrito"
                        style="background-color: #f97316"
                        class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                      >
                        Continuar pago
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
