<main class="flex flex-col gap-4 w-full pr-10 pt-5 mx-6">
  <!-- Sección de búsqueda y agregar producto -->
  <section [formGroup]="filterForm" class="flex gap-2 items-center">
    <!-- Buscador con ícono -->
    <div class="flex-grow bg-gray-200 relative">
      <i
        class="bx bx-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"
      ></i>
      <input
        type="text"
        formControlName="searchTerm"
        class="w-full pl-10 p-2 border rounded"
        placeholder="Buscar producto"
      />
    </div>

    <!-- Selector de categoría -->
    <div class="flex-none w-32">
      <select
        id="category"
        formControlName="selectedCategory"
        class="w-full px-3 py-2 border rounded"
      >
        <option value="">Todas</option>
        <option *ngFor="let c of categories" [value]="c.category_id">
          {{ c.name }}
        </option>
      </select>
    </div>

    <!-- Botón con ícono -->
    <button
      class="flex-none w-32 p-2 bg-orange-400 text-white rounded flex justify-center gap-2 hover:bg-orange-500"
      (click)="toggleAddProduct()"
    >
      <i class="bx bx-plus text-lg"></i>Agregar
    </button>
  </section>

  <!-- Sección de productos -->
  <section>
    <h2 class="text-3xl font-bold mb-4">Productos</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div
        class="bg-white border rounded-lg shadow p-4 flex items-center gap-4"
        *ngFor="let product of filteredProducts"
      >
        <!-- Imagen del producto -->
        <div class="w-24 h-full flex-shrink-0">
          <img
            [src]="
              'https://img.freepik.com/vector-gratis/dibujado-mano-diseno-plano-poke-bowl-comida-ilustracion_23-2149310125.jpg'
            "
            alt="{{ product.name }}"
            class="w-full h-full object-cover rounded-lg"
          />
        </div>

        <!-- Detalles del producto -->
        <div class="flex-grow">
          <p class="font-bold text-gray-800">{{ product.name }}</p>
          <p class="text-sm text-gray-600">{{ product.category_id }}</p>
          <p class="text-sm font-semibold text-blue-600">
            ${{ product.price }}
          </p>
        </div>

        <!-- Botones de opciones -->
        <div class="relative flex flex-col gap-2">
          <button
            class="w-full p-2 text-white bg-orange-400 hover:bg-orange-600 rounded flex items-center justify-center gap-2"
            (click)="toggleEditProduct(product)"
          >
            <i class="bx bx-edit text-lg"></i>
            <span>Editar</span>
          </button>
          <button
            class="w-full p-2 text-white bg-red-500 hover:bg-red-800 rounded flex items-center justify-center gap-2"
            (click)="deleteProduct(product.product_id)"
          >
            <i class="bx bx-trash text-lg"></i>
            <span>Eliminar</span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <app-product-modal
    *ngIf="showModal"
    [title]="modalTitle"
    [categories]="categories"
    [product]="selectedProduct"
    (save)="handleSave($event)"
    (cancel)="handleCancel()"
  ></app-product-modal>
</main>
