<div class="mt-4 min-h-screen flex flex-col bg-gray-100">
  <!-- Navbar -->
  <app-navbar class="sticky top-0 py-5 bg-white shadow-lg z-50"></app-navbar>

  <app-btn-text-product></app-btn-text-product>
  <main class="container w-4/5 mx-auto mt-10 w-[calc(100hw - 112px)]">
    <h2 class="text-3xl font-mcdonalds mb-6 text-orange-600">Productos</h2>
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 relative">
      <!-- Listado de productos -->
      <div
        class="col-span-2 space-y-6 overflow-y-auto max-h-[calc(100vh-200px)]"
      >
        <!-- Mostrar productos si existen -->
        <div *ngIf="carrito.products.length > 0; else noProducts">
          <div
            *ngFor="let item of carrito.products; let i = index"
            class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm md:p-6 md:flex md:items-center md:justify-between md:gap-6 dark:border-gray-700 dark:bg-gray-800"
          >
            <!-- Imagen del producto -->
            <a href="#" class="shrink-0 md:order-1">
              <img
                class="h-20 w-20 rounded-lg"
                src="https://img.freepik.com/vector-gratis/dibujado-mano-diseno-plano-poke-bowl-comida-ilustracion_23-2149310125.jpg"
                alt="Imagen del producto"
              />
            </a>

            <!-- Información del producto -->
            <div class="w-full flex-1 min-w-0 space-y-2 md:order-2 md:max-w-md">
              <p
                class="text-lg font-medium text-gray-900 dark:text-white font-poppins"
              >
                {{ item.name }}
              </p>
              <p
                class="text-sm font-medium text-gray-700 dark:text-gray-400 font-poppins"
              >
                Precio Unitario:
                <span class="text-gray-900 dark:text-white">
                  {{ item.price | number : "1.2-2" }}
                </span>
              </p>
            </div>

            <!-- Controles de cantidad y precio total -->
            <div class="flex items-center gap-4 md:order-3">
              <div class="flex items-center gap-2">
                <!-- Botón de Decrementar -->
                <button
                  class="inline-flex h-6 w-6 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600"
                  aria-label="Decrementar cantidad"
                  (click)="disminuirCantidad(i)"
                >
                  <svg
                    class="h-3 w-3 text-gray-900 dark:text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 18 2"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 1h16"
                    />
                  </svg>
                </button>

                <!-- Cantidad -->
                <p
                  class="w-8 text-center font-medium text-gray-900 dark:text-white"
                >
                  {{ item.quantity }}
                </p>

                <!-- Botón de Incrementar -->
                <button
                  class="inline-flex h-6 w-6 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600"
                  aria-label="Incrementar cantidad"
                  (click)="aumentarCantidad(i)"
                >
                  <svg
                    class="h-3 w-3 text-gray-900 dark:text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 18 18"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 1v16M1 9h16"
                    />
                  </svg>
                </button>
              </div>

              <!-- Precio Total -->
              <p class="font-bold text-gray-900 dark:text-white">
                CLP {{ item.price * item.quantity | number : "1.2-2" }}
              </p>

              <!-- Botón de Eliminar -->
              <button
                class="flex items-center gap-1 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-md px-2 py-1 dark:bg-red-500 dark:hover:bg-red-600"
                aria-label="Eliminar producto"
                (click)="eliminarProducto(i)"
              >
                <i class="bx bx-trash text-lg"></i>
                <span>Eliminar</span>
              </button>
            </div>
          </div>
        </div>

        <!-- Mostrar mensaje si no hay productos -->
        <ng-template #noProducts>
          <div
            class="flex flex-col items-center justify-center h-full text-gray-500 dark:text-gray-400"
          >
            <p class="text-lg font-semibold">Tu carrito está vacío</p>
            <p class="text-sm mt-2">Agrega algunos productos para comenzar</p>
          </div>
        </ng-template>
      </div>

      <!-- Resumen del pedido -->
      <div
        class="sticky top-20 self-start h-full rounded-lg bg-white border border-gray-200 p-6 shadow-md dark:border-gray-700 dark:bg-gray-800"
      >
        <h2 class="text-lg font-bold mb-4">Resumen del pedido</h2>

        <!-- Información del pedido -->
        <div class="space-y-2 mb-6">
          <div class="flex justify-between">
            <span>Precio original:</span>
            <span
              >CLP {{ carrito.total_price + discount | number : "1.2-2" }}</span
            >
          </div>
          <div class="flex justify-between">
            <span>Descuento:</span>
            <span class="text-green-600">
              CLP {{ discount | number : "1.2-2" }}
            </span>
          </div>
          <div class="flex justify-between font-bold">
            <span>Total:</span>
            <span>CLP {{ final_price | number : "1.2-2" }}</span>
          </div>
        </div>

        <!-- Input para ingresar cupón -->
        <div class="mb-6">
          <label for="cupon" class="block mb-2 text-sm font-medium"
            >Ingrese su cupón:</label
          >
          <input
            type="text"
            id="cupon"
            [(ngModel)]="codeCoupon"
            class="block w-full rounded-md border border-gray-300 p-2 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
          />
          <button
            (click)="toggleCupon()"
            class="mt-4 w-full rounded-md py-2 text-white"
            [ngClass]="{
              'bg-orange-500 hover:bg-orange-600': !coupon,
              'bg-red-500 hover:bg-red-600': coupon
            }"
          >
            {{ coupon ? "Quitar cupón" : "Aplicar código" }}
          </button>
        </div>

        <!-- Botón de Comprar -->
        <button
          (click)="finalizarCompra()"
          class="w-full rounded-md bg-green-500 py-2 text-white hover:bg-green-600"
        >
          Comprar
        </button>
      </div>
    </div>
  </main>
</div>
