<div class="min-h-screen flex flex-col relative">
  <!-- Navbar -->
  <app-navbar class="sticky top-0 py-5 bg-white shadow-lg z-50"></app-navbar>
  <!-- Main Content -->
  <main class="contaier w-3/4 mx-auto my-10 relative">
    <div class="contianer py-5">
      <h2 class="text-2xl font-bold mb-4">Categorías</h2>
      <!-- Category Content -->
      <app-category
        class="flex flex-wrap gap-4 bg-white shadow-lg p-5 sm:flex-row md:flex-row lg:gap-6 xl:gap-8"
        modo="view"
      ></app-category>
    </div>

    <!-- Products Content -->
    <div class="container py-5">
      <h2 class="text-2xl font-bold mb-4">Productos</h2>
      <!-- colocar las cards de los productos -->
      <app-products
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4 relative"
        [modo]="'user'"
      ></app-products>
    </div>
  </main>
</div>
