<div class="container mx-auto mt-6 px-4">
    <h5 class="text-lg font-semibold">Mi carrito</h5>
    <hr class="my-4 border-gray-300" />

    <div class="flex flex-col lg:flex-row gap-4">

        <div class="flex-1">
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <div class="p-4">
                    <div class="overflow-auto">
                        <table class="min-w-full border border-gray-300 text-center">
                            <thead class="bg-gray-100">
                                <tr>
                                    <th class="py-2 px-4 border-b">Producto</th>
                                    <th class="py-2 px-4 border-b">Imagen</th>
                                    <th class="py-2 px-4 border-b">Precio CLP</th>
                                    <th class="py-2 px-4 border-b">Cantidad</th>
                                    <th class="py-2 px-4 border-b">Importe CLP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="listCarrito.length<1; else hayCarrito">
                                    <tr>
                                        <td colspan="5" class="py-4 text-center text-gray-500">No hay productos en su
                                            carrito</td>
                                    </tr>
                                </ng-container>
                                <ng-template #hayCarrito>
                                    @for(item of listCarrito; track item.producto){
                                    <tr>
                                        <td class=" py-2 px-4 border-b">{{ item.producto.nombre }}</td>
                                        <td class="py-2 px-4 border-b">
                                            <img [src]="'img/' + item.producto.imagen" alt=""
                                                class="w-12 h-16 object-cover mx-auto" />
                                        </td>
                                        <td class="py-2 px-4 border-b">{{ item.producto.precio }}</td>
                                        <td class="py-2 px-4 border-b">{{ item.cantidad }}</td>
                                        <td class="py-2 px-4 border-b">{{ item.producto.precio * item.cantidad }}</td>
                                    </tr>
                                    }
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="w-full lg:w-1/4">
            <div class="bg-white shadow-lg rounded-lg p-4">
                <h5 class="text-lg font-semibold mb-4">RESUMEN</h5>
                <hr class="my-4 border-gray-300" />

                <div class="flex justify-between mb-4">
                    <p class="text-gray-700 font-medium">TOTAL</p>
                    <p class="text-gray-700 font-semibold">CLP/{{ carritoService.total() }}</p>
                </div>

                <button type="button"
                    class="w-full py-3 bg-gray-800 text-white text-sm font-semibold rounded-lg hover:bg-gray-900">
                    PAGAR
                </button>
            </div>
        </div>
    </div>
</div>