#catalogo {
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('/public/images/background.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 100vh; 
}
