<div
  class="fixed inset-0 z-50 bg-gray-900 bg-opacity-50 flex items-center justify-center"
>
  <div
    class="bg-white w-full max-w-2xl p-6 rounded-lg shadow-lg overflow-auto"
    style="max-height: 90vh"
  >
    <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
      <div class="mb-4">
        <h2 class="text-2xl font-semibold text-gray-800">{{ title }}</h2>
      </div>

      <div class="mb-6">
        <label for="name" class="block text-gray-700 mb-2"
          >Nombre del producto</label
        >
        <input
          id="name"
          formControlName="name"
          type="text"
          class="w-full p-2 border rounded"
          placeholder="Nombre del producto"
        />
      </div>

      <div class="flex gap-4 mb-4">
        <div class="flex-1">
          <label for="category" class="block text-gray-400 mb-2"
            >Categoría</label
          >
          <select
            id="category"
            formControlName="category_id"
            class="w-full p-2 border rounded"
          >
            <option value="" selected>Selecciona una categoría</option>
            <option *ngFor="let c of categories" [value]="c.category_id">
              {{ c.name }}
            </option>
          </select>
        </div>

        <div class="flex-1">
          <label for="price" class="block text-gray-700 mb-2">Precio</label>
          <input
            id="price"
            formControlName="price"
            type="number"
            class="w-full p-2 border rounded"
            placeholder="Precio del producto"
          />
        </div>
      </div>

      <div class="mb-4">
        <label for="description" class="block text-gray-700 mb-2"
          >Descripción</label
        >
        <textarea
          id="description"
          formControlName="description"
          class="w-full p-2 border rounded"
          placeholder="Descripción del producto"
        ></textarea>
      </div>

      <div class="mb-4">
        <label for="image" class="block text-gray-700 mb-2"
          >URL de la imagen</label
        >
        <input
          id="image"
          formControlName="img_url"
          type="text"
          class="w-full p-2 border rounded"
          placeholder="URL de la imagen"
        />
      </div>

      <div class="flex gap-2">
        <button
          type="submit"
          class="bg-orange-400 text-white px-4 py-2 rounded hover:bg-orange-500"
        >
          Guardar
        </button>
        <button
          type="button"
          (click)="cancelModal()"
          class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
