.move-down {
  transform: translateY(10px);
  transition: transform 0.3s ease;
}

.move-up {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

img {
  border: 2px solid white;
}
button {
  transition: background-color 0.3s ease;
}

aside {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
button:hover {
  transition: background-color 0.3s ease;
}
