<div class="w-64 bg-[#FFA500] p-4 text-white shadow-lg h-screen">
    <h1 class="text-2xl font-bold mb-6">WC Donald's</h1>
    <ul class="space-y-4">
      <li>
        <button
          routerLink="/perfil"
          class="w-full text-left py-2 px-4 bg-white text-[#FFA500] rounded-md hover:bg-gray-200"
        >
          Mi Perfil
        </button>
      </li>
      <li>
        <button
          routerLink="/pedidos"
          class="w-full text-left py-2 px-4 bg-white text-[#FFA500] rounded-md hover:bg-gray-200"
        >
          Mis Pedidos
        </button>
      </li>
      <li>
        <button
          routerLink="/cupones"
          class="w-full text-left py-2 px-4 bg-white text-[#FFA500] rounded-md hover:bg-gray-200"
        >
          Mis Cupones
        </button>
      </li>
    </ul>
    <div class="absolute bottom-4 w-full text-center">
      <img src="/assets/logout.png" alt="Logout" class="h-10 mx-auto" />
    </div>
  </div>
  