<div class="flex">
  <!-- Contenido Principal -->
  <div class="flex-1 p-6 bg-gray-100">
    <!-- Mis Pedidos -->
    <div class="container mx-auto py-8">
      <h1 class="text-2xl font-bold text-center mb-6">Mis Pedidos</h1>

      <!-- Lista de pedidos -->
      <div class="flex flex-col gap-4">
        <!-- Iterar sobre los pedidos -->
        <div *ngFor="let orden of ordenes" class="bg-orange-100 p-3 rounded-lg shadow">
          <!-- Información del pedido -->
          <div>
            <span class="text-lg font-semibold block">Pedido nº {{ orden.order_id }}</span>
            <span class="text-sm text-gray-600 block">Fecha: {{ orden.date }}</span>
            <span class="text-sm text-gray-600 block">Total: {{ orden.total_price | currency }}</span>
          </div>

          <!-- Estado del pedido -->
          <div class="mt-2 text-end">

            <button (click)="toggleDetalles(orden.order_id)" class="text-blue-500 text-sm">
              Ver detalles
            </button>
          </div>

          <!-- Detalles de la orden (solo si está expandida) -->
          <div *ngIf="orden.order_id === expandedOrderId" class="mt-3 text-sm">
            <h3 class="font-semibold text-base">Detalles:</h3>
            <div *ngFor="let producto of productos" class="mt-1">
              <p><strong>Producto:</strong> {{ producto.name }}</p>
              <p><strong>Precio:</strong> {{ producto.price | currency }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>