<div class="min-h-screen flex flex-col bg-gray-100" id="catalogo">
  <!-- Navbar -->
  <app-navbar class="sticky top-0 py-5 bg-white shadow-lg z-50"></app-navbar>
  <!-- Main Content -->
  <main class="container w-4/5 mx-auto my-10">
    <!-- Categorías -->
    <div class="pb-5">
      <h2 class="text-3xl font-mcdonalds mb-6 text-orange-600">Categorías</h2>
      <!-- Category Content -->
      <app-category
        class="flex flex-wrap gap-4 bg-white shadow-md p-5 rounded-lg sm:flex-row md:flex-row lg:gap-6 xl:gap-8"
        [mode]="'view'"
      ></app-category>
    </div>
    <!-- Productos -->
    <div class="pb-5">
      <h2 class="text-3xl font-mcdonalds mb-2 text-orange-600">Productos</h2>
      <!-- Products Content -->
      <app-products
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 py-4"
        [products]="products"
      ></app-products>
    </div>
  </main>

  <app-footer></app-footer>
</div>
