<div class="flex items-center justify-center min-h-screen bg-pattern">
  <div
    class="relative bg-white rounded-3xl shadow-2xl overflow-hidden m-5 container-forms"
    [ngClass]="{ active: isActive }"
  >
    <!-- Login Form -->
    <app-form-login
      class="absolute z-10 w-1/2 h-full bg-white flex flex-col items-center text-center p-10 transition-all duration-[600ms] ease-in-out delay-[1200ms] visibility-delay"
      [ngClass]="{ 'right-0': !isActive, 'right-1/2': isActive }"
    ></app-form-login>

    <!-- Registration Form -->
    <app-form-register
      class="absolute z-10 right-0 w-1/2 h-full bg-white flex flex-col items-center text-center p-10 transition-all duration-[600ms] ease-in-out delay-[1200ms] visibility-delay"
      [ngClass]="{ invisible: !isActive, 'right-1/2': isActive }"
    ></app-form-register>

    <!-- Toggle Panel -->
    <div class="toggle-box">
      <div
        class="absolute w-1/2 h-full flex flex-col items-center justify-center z-20 transition-all text-white"
        [ngClass]="{ '-left-1/2': isActive, 'left-0': !isActive }"
        [ngStyle]="{ 'transition-delay': isActive ? '0.6s' : '1.2s' }"
      >
        <img
          src="images/icon-register.png"
          alt="Restaurant Logo"
          class="w-2/4 mb-4"
        />

        <h1 class="text-2xl font-semibold">El sabor te espera</h1>
        <p>¿No tienes una cuenta?</p>
        <button
          (click)="toggleActive()"
          class="w-40 p-3 mt-4 border-2 border-white rounded-lg font-semibold"
        >
          Register
        </button>
      </div>
      <div
        class="absolute w-1/2 h-full flex flex-col items-center justify-center z-20 transition-all text-white"
        [ngClass]="{ 'right-0': isActive, '-right-1/2': !isActive }"
        [ngStyle]="{ 'transition-delay': isActive ? '1.2s' : '0.6s' }"
      >
        <img
          src="images/icon-login.png"
          alt="Restaurant Logo"
          class="w-2/4 mb-4"
        />
        <h1 class="text-2xl font-semibold">Únete y pide en segundos</h1>
        <p>¿Ya tienes una cuenta?</p>
        <button
          (click)="toggleActive()"
          class="w-40 p-3 mt-4 border-2 border-white rounded-lg font-semibold"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
